<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
</head>
<body>

    <form method="POST" action="/fingerprint/validasi" id="fingerprintForm">
        <input type="text" id="dataFingerValidasi" name="fingerValidasi" disabled>
        <button type="button" id="daftarFinger" onclick="koneksi()">Finger!</button>
        <button type="button" onclick="submitForm()">Daftar</button>
    </form>

    <% if(nama) { %>
        <h1>Nama: <%= nama %></h1>
        <h1>Kelas: <%= kelas %></h1>
        <h1>NIM: <%= nim %></h1>
        <h1>Persentase: <%= persentase %>%</h1>
    <% } %>

    <script>
        let inputFingerValidasi = document.getElementById("dataFingerValidasi");

        // Declare the koneksi function in the global scope
        function koneksi() {
            console.log(mqtt);
            const url = "ws://10.2.3.186:9001";

            const options = {
                clean: true,
                connectTimeout: 4000,
                clientId: 'webServerFinger',
                username: 'rifqi',
                password: 'rifqi123',
            };

            const client = mqtt.connect(url, options);

            inputFingerValidasi.value = "Menunggu jari...";

            client.on('connect', function() {
                client.subscribe('/finger/fingerMaha', function (err) {
                    if (err) {
                        console.error("Error subscribing:", err);
                        throw err;
                    }
                });
            });

            client.on('message', function(topic, message) {
                if (inputFingerValidasi.value === "Menunggu jari...") {
                    inputFingerValidasi.value = "";
                }
                console.log("Pesan:", message.toString());
                console.log("Topic:", topic);
                inputFingerValidasi.value += message.toString();
                console.log("inputFingerValidasi value:", inputFingerValidasi.value);

                // Now, trigger the input event manually
                var event = new Event('input');
                inputFingerValidasi.dispatchEvent(event);
            });
        }

        function submitForm() {
            inputFingerValidasi.removeAttribute("disabled");
            document.getElementById("fingerprintForm").submit();
        }
    </script>
</body>
</html>
